.friendList {
  background-color: #FFFFFF;

  width: 75%;
  padding: 16px 20px;
  border-radius: 8px;
  border: 0.5px solid #a9aaaa;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-weight: bold;
}

.item {
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
  padding: 4px;

  width: 80px;
  align-items: center;
  
  border-radius: 4px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 50%), 0 4px 8px rgb(0 0 0 / 5%);
}

.status {
  display: block;
  margin-right: 8px;
}

.avatar {
  padding: 4px;
  width: 76%;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 50%), 0 4px 8px rgb(0 0 0 / 2%);
}

.name {
  padding-top: 4px;
}
