.transactionHistory {
  background-color: #FFFFFF;

  width: 75%;
  padding: 16px 20px;
  border-radius: 8px;
  border: 0.5px solid #a9aaaa;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.transactionHistory thead {
  background-color: #83c8f7;
}

.transactionHistory th {
  padding: 12px;
  font-weight: bold;
}

.transactionHistory td {
  text-align: center;
  padding: 4px; 
}

